# top-most EditorConfig file
root = true
charset = utf-8
max_line_length = 150
indent_style = space

[*.ts]
indent_size = 4

[*.tsx]
indent_size = 4

[*.js]
indent_size = 4

[*.jsx]
indent_size = 4

[*.json]
indent_size = 2

[*.toml]
indent_size = 2

[*.yaml]
indent_size = 2

[*.ts]
indent_size = 4

[*.js]
indent_size = 2